{% load static %}

<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
    <div class="container-fluid">
        <div class="pmd-navbar-right-icon pull-right navigation">
            <!-- Notifications -->
            <div class="dropdown icons pmd-dropdown" style="margin-top: 18px;">
                <a href="javascript:void(0)" class="dropdown-toggle pmd-ripple-effect"
                   data-toggle="dropdown" role="button" aria-expanded="true">
                    <div class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap">
                        help_outline
                    </div>
                </a>

                <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
                    <ul class="list-group pmd-list-avatar pmd-card-list" style="min-width: 240px;">
                        <li class="list-group-item unread">
                            <a href="/help">
                                <div class="media-left">
									<span class="avatar-list-img40x40">
										<img alt="40x40" data-src="holder.js/40x40" class="img-responsive"
                                             src="/static/themes/images/user-icon.png" data-holder-rendered="true">
									</span>
                                </div>
                                <div class="media-body">
                                    <h5>帮助</h5>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a type="button" href="javascript:void(0)" data-target="#about-dialog" data-toggle="modal">
                                <div class="media-left">
									<span class="avatar-list-img40x40">
										<img alt="40x40" data-src="holder.js/40x40" class="img-responsive"
                                             src="/static/themes/images/user-icon.png" data-holder-rendered="true">
									</span>
                                </div>
                                <div class="media-body">
                                    <h5>关于</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>


            </div> <!-- End notifications -->
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="javascript:void(0);"
               class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle">
                <i class="material-icons">menu</i>
            </a>
            <a href="/" class="navbar-brand"></a>
        </div>
    </div>

</nav>

<!--关于对话框-->
<div tabindex="-1" class="modal fade" id="about-dialog" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <div class="media-left">
                    <a href="javascript:void(0);" class="avatar-list-img">
                        <img width="40" height="40"
                             src="http://propeller.in/components/list/img/40x40.png">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h3 class="pmd-card-title-text">关于</h3>
                    <span class="pmd-card-subtitle-text">关于PyNetdisk</span>
                </div>
            </div>
            <div class="pmd-modal-media">
                <img width="1184" height="666" class="img-responsive"
                     src="http://propeller.in/assets/images/profile-pic.png">
            </div>
            <div class="modal-body">
                PyNetdisk是一个采用Django开发的小型多人网盘系统，项目采用MIT协议开源，你可以在点击下面的
                <i class="material-icons pmd-sm">code</i>了解更多细节
            </div>
            <div class="pmd-modal-action">
                <a type="button" href="https://github.com/Wang-Jiang/PyNetdisk" target="_blank"
                        class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary">
                    <i class="material-icons pmd-sm">code</i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--关于对话框-->