{% load static %}

<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    {% include 'netdisk/common/css.html' %}
</head>
<body>
{% include 'netdisk/common/header.html' %}
<div class="pmd-sidebar-overlay"></div>
{% include 'netdisk/common/menu.html' %}

<div id="content" class="pmd-content inner-page">
    <div class="container-fluid full-width-container blank">
        <div style="margin-top: 20px;margin-bottom: 14px;">
            <button data-target="#create-folder-dialog" data-toggle="modal" type="button"
                    class="btn pmd-btn-raised pmd-ripple-effect btn-default">新建文件夹
            </button>
            <button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-primary">上传文件</button>

            <!--新建文件夹-->
            <div tabindex="-1" class="modal fade" id="create-folder-dialog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="form-horizontal" action="/create_folder" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ parent_id }}" name="paren_id">
                        <div class="modal-content">
                            <div class="modal-header bordered">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h2 class="pmd-card-title-text">新建文件夹</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name">名称</label>
                                    <input type="text" class="mat-input form-control" name="folder_name">
                                    <span class="help-text">输入文件夹的名称!</span>
                                </div>
                            </div>
                            <div class="pmd-modal-action">
                                <input class="btn pmd-ripple-effect btn-primary" type="submit" value="保存"/>
                                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">
                                    取消
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--新建文件夹-->

        </div>

        <ol class="breadcrumb text-left">
            <li><a href="/">根目录</a></li>
            <li class="active">Blank</li>
        </ol>

        <div class="table-responsive pmd-card pmd-z-depth">
            <table class="table table-mc-red pmd-table">
                <thead>
                <tr>
                    <th width="50%">名称</th>
                    <th>类型</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in file_list %}
                    <tr>
                        <td><a href="/?parent_id={{ item.id }}">{{ item.name }}</a></td>
                        <td><span class="status-btn blue-bg">{{ item.file_type }}</span></td>
                        <td>{{ item.create_time | date:"Y-m-d H:i:s" }}</td>
                        <td class="pmd-table-row-action">
                            <a href="javascript:void(0)" onclick="editFile( {{ item.id }}, '{{ item.name }}', this);"
                               class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                                <i class="material-icons md-dark pmd-sm">edit</i>
                            </a>
                            <a href="javascript:void(0)" onclick="deleteFile( {{ item.id }}, '{{ item.name }}', this);"
                               class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
                                <i class="material-icons md-dark pmd-sm">delete</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
{% include 'netdisk/common/footer.html' %}
{% include 'netdisk/common/script.html' %}

<script src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.js"></script>
<script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
<script>
    layui.use(['layer'], function () {
    });

    //修改文件名
    function editFile(id, oldName, dom) {
        layer.prompt({title: '修改文件名', value: oldName, formType: 0}, function (name, index) {
            $.post('/edit_name', {id: id, name: name, csrfmiddlewaretoken: '{{ csrf_token }}'}, function (data) {
                layer.msg(data);
                layer.close(index);
                location.reload();
            });
        });
    }

    function deleteFile(id, oldName, dom) {
        layer.confirm('确认删除文件', {
            btn: ['确认', '取消']
        }, function (index) {
            $.post('/delete_file', {id: id, name: name, csrfmiddlewaretoken: '{{ csrf_token }}'}, function (data) {
                $(dom).parents('tr').remove();
                layer.msg(data);
                layer.close(index);
            });
        }, function (index) {
            layer.close(index);
        });
    }

</script>
</body>
</html>